.header {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
}

#calendar.desktop,
#eventpicker.desktop {
  max-height: 900px;
}

.admin-container {
  -webkit-backface-visibility: hidden;
}

.admin-container.desktop, .admin-container.laptop {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -ms-grid-columns: 24% 72%;
  grid-template-columns: 24% 72%;
  justify-content: center;
  margin-bottom: 2em;
}

.admin-container.tablet, .admin-container.mobile {
  display: flex;
  justify-content: center;
  padding: 0 1em 1em 1em;
}

.desktop:not([class*=float]),
.laptop:not([class*=float]) {
  display: -ms-grid;
  display: grid;
}

.desktop[class*=float]#slider,
.laptop[class*=float]#slider {
  display: none;
}

.desktop[class*=float] .icon,
.laptop[class*=float] .icon {
  margin-top: 22px;
}

#eventpicker.tablet, #eventpicker.mobile {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s ease-in-out;
  /* 0.5 second transition effect to slide in the sidenav */
}

#eventpicker.tablet .event-picker-container, #eventpicker.mobile .event-picker-container {
  padding-top: 20px;
  border-radius: 0;
}

#eventpicker.tablet td:not(.text-center), #eventpicker.mobile td:not(.text-center) {
  font-size: 0.875rem;
}

#eventpicker.tablet button, #eventpicker.mobile button {
  width: 5em;
}

#eventpicker.tablet [class*=modal] button, #eventpicker.mobile [class*=modal] button {
  width: inherit;
}

#eventpicker.tablet .selectable, #eventpicker.mobile .selectable {
  transition: 0.3s;
}

#eventpicker.tablet table#events, #eventpicker.mobile table#events {
  width: 300px !important;
}

#eventpicker.tablet .title, #eventpicker.mobile .title {
  width: 300px;
}

#eventpicker.desktop, #eventpicker.laptop {
  width: 100% !important;
}

.mobile h1, .tablet h1 {
  font-size: 1.75em;
}

.mobile[class*=float]#slider, .tablet[class*=float]#slider {
  -webkit-user-drag: none;
}

.mobile[class*=float] .icon, .tablet[class*=float] .icon {
  margin-top: 22px;
}

.desktop#addEvent[class*=float],
.laptop#addEvent[class*=float], .mobile#addEvent[class*=float], .tablet#addEvent[class*=float], .mobile#slider[class*=float], .tablet#slider[class*=float] {
  position: fixed;
  height: 60px;
  color: #FFF;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.desktop#addEvent[class*=float],
.laptop#addEvent[class*=float], .mobile#addEvent[class*=float], .tablet#addEvent[class*=float] {
  width: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  background-color: #007bff;
}

.mobile#slider[class*=float], .tablet#slider[class*=float] {
  width: 40px;
  top: 47px;
  left: 0;
  border-radius: 0px;
  background-color: #000000;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
  /* 0.5 second transition effect to slide in the sidenav */
}

.slide-in {
  transform: translateX(259px);
  box-shadow: -2px -2px 2px #999 !important;
}

.slide-out {
  transform: translateX(0px);
}

.modal-backdrop {
  z-index: 0 !important;
}

.non-user-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}

/*# sourceMappingURL=calendar.css.map */
